<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%cyan(%d{HH:mm:ss.SSS}) %gray([%thread]) %highlight(%-5level) %magenta(%logger{36}) %replace(%yellow([trace-id:%X{trace-id}])){'\[trace-id:\]', ''} - %msg%n</pattern>
        </encoder>
    </appender>

<!--    <logger name="com.zaxxer.hikari" level="DEBUG"/>-->
    <logger name="liquibase" level="${LIQUIBASE_LOG_LEVEL:-INFO}"/>
    <logger name="io.micronaut.liquibase" level="${MICRONAUT_LIQUIBASE_LOG_LEVEL:-INFO}"/>
    <root level="${LOGBACK_LOG_LEVEL:-INFO}">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
